.header__lang-link {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #FFFFFF;
  text-decoration: none;
  height: 100%;
}

.header__lang-link:hover{
  opacity: 0.8;
  transition: 0.3s;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
}
