.lead__image {
  display: flex;
  margin-top: 64px;
  width: 100%;
  max-width: 984px;
  max-height: 615px;
}

@media screen and (max-width: 1028px) {
  .lead__image {
    max-width: 928px;
    max-height: 580px
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    margin-top: 56px;
    max-width: 768px;
    max-height: 484px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
    max-width: 320px;
    max-height: 200px;
  }
}
