.cover {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  max-width: 1184px;
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 92px 0 0 0;
}

@media screen and (max-width: 767px) {
  .cover{
    margin-top: 90px;
  }
}

@media screen and (max-width: 320px) {
  .cover{
    margin-top: 66px;
  }
}
