.cover {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-width: 1184px;
  max-height: 740px;
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 92px 0 0 0;
}

@media screen and (max-width: 1279px) {
  .cover{
    max-height: 640px;
  }
}

@media screen and (max-width: 767px) {
  .cover{
    max-height: 480px;
    margin-top: 90px;
  }
}

@media screen and (max-width: 320px) {
  .cover{
    max-height: 200px;
    margin-top: 66px;
  }
}
